@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap'); /* 적용하는 거 잊지 않기 */

/* css Variables */
:root {
    /* color */
    /* HSL 쓰는 것을 선호하자: 같은 색상과 채도를 유지하고 일관되지만 변화를 살짝 줄 수 있음 */
    --primary-color: hsl(160, 100%, 25%);   /* 색상, 채도, 밝기 */
    --secondary-color: hsl(339, 77%, 59%);  /* 포인트 주는 색상 */
    --third-color: hsl(160, 100%, 35%);     /* 밝기만 바꿈 */
    --body-color: #fff;

    /* font */
    --body-font: 'Cute Font', sans-serif; /* sans : 없다 serif : 장식이 */
    --h1-font-size: 2rem;   /* 크롬 > 설정 > 글자 크기 : 중간일 때, 대문자 M의 너비인 16px을 기준으로 함 = 1rem */
    --h2-font-size: 1.5rem; /* 16 * 1.5 = 24px */
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.6rem;

    /* z-index */
    --z-index: 100;

    /* nav */
    --nav-height: 44px; /* 높이 권장 */
}

/* nav */
body {
    font-family: var(--body-font); 
    background-color: var(--body-color);
}
body>header {
    position: fixed; /* 절댓값, 절대 위치, 위치 조정 맘대로 할 수 있음, 위치 고정했음 nav바는 스크롤을 해도 고정 시킬 것임 */
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
nav.container { /* <nav class="nav container"> */
    background-color: var(--primary-color); /* 메뉴바 색상 줌 */
    height: var(--nav-height);              /* 메뉴바 높이 줌 */
    display: flex;  /* 기본값 : 가로로 배치 됨 / 반응형 / 학매기는 같이 묶어져 있어서 일단 세로 */
    justify-content: space-between;     /* 메인축(가로)으로 양쪽 정렬 */
    align-items: center;                /* 교차축(세로)으로 가운데 정렬 */
    padding: 0 40px;             /* top, right, bottom, left 왼/오른만 양쪽 여백*/
    color: #fff;                /* 텍스트 색상 */
    font-size: var(--h2-font-size);     /* 웹 폰드 아이콘, 글자 크게 / 로고도 바뀜 */
}
nav a {
    color: #fff;
}

.nav-logo {
    margin-top: 5px;
}

.nav-list {
    display: flex;      /* 학매기를 가로로 배치 */
    align-items: center;
    column-gap: 40px; /* 열과 열 사이(학매기) 사이 사이의 gap(간격) */
    transition: 0.4s ease-in-out; /* 애니메이션 */
}

.nav-toggle {
    display: none;  /* 햄버거 메뉴 사라짐 */
}

/* mobile */
@media screen and (max-width: 600px) {  /* 600px 이하일 때 스타일 / 600px 까지 땡겼을 때 딱 보여짐 */
    nav.container {
        padding: 0 20px;    /* 왼/오른 여백 조금 줄이자 */
    }

    .nav-list {
        flex-direction: column;   /* 세로로 배치 / 학매기 세로로 배치됨 */
        background-color: hsla(200, 100%, 25%, 0.6);    /* a 는 약간의 배경색 느낌 */
        position: absolute;
        top: calc(var(--nav-height) - 140px); /* 실제 위치는 44px(현재 top의 높이) - 140px / 숨겨지게 햄버거 바 눌렀을 때 나와야 함 *주의 : 연산자 양 옆 띄어쓰기 꼭 해야 함*/
        right: 0; /* left, right 줘서 양 옆에 딱 붙음 */
        left: 0; /* left, right 줘서 양 옆에 딱 붙음 */
        z-index: -1; /* 학매기를 nav바 뒤에 숨기자! */
        backdrop-filter: blur(4px); /* 메뉴바에 가려지는 배경 흐리게 */
    }

    .nav-item {
        padding: 0.5rem 0; /* 메뉴 아이템 세로 간격 벌리자 / 학매기 사이 간격 넓어짐 */
        border-bottom: 1px solid white; /* 밑줄 긋기 */
        width: 100%; /* 가로 너비 100% / 양 옆으로 꽉 채우기 / 중요함 */
        text-align: center; /* 글자 가운데 */
    }

    .nav-link {
        display: block; /* 링크의 너비 : 콘텐츠 -> 100%로 늘리자 / 원래는 학매기 글자에 커서 가져다댔을 때만 링크 됐는데 이젠 여백도 가능 */
    }

    .nav-toggle {
        display: block; /* 햄버거 메뉴 다시 보여지는 거 */
        cursor: pointer; /* 마우스 포인터 손으로 바꾸자 */
        margin-top: 6px;
    }

    .show-menu { /* 방금 만든 클래스, 위에서 학매기 nav바 뒤로 숨긴 거 다시 내리기 */
        top: var(--nav-height); /* nav-list 아래로 내리자 */
    }
}