#school-market {
    margin-top: calc(var(--nav-height) + 100px);
}

#school-market {
    display: flex;
    flex-direction: column; /* 축이 바뀜 column으로 */
    align-items: center;    /* 그래서 align-items 줘야 함 */
}
.search-container {
    background-color: #DCDCDC;
    padding: 10px 20px;
    display: flex; /* 왼쪽 위에 붙는 것이 기본값 */
    align-items: center; /* 축이 바뀌어서 이것도 align-items로 해야 함  */
    border-radius: 28px;
    width: 80%;
    max-width: 800px;    /* 최대 너비 지정 더 이상 커지지 마! */
    min-width: 500px;    /* 최소 너비 지정 더 이상 작아지지 마!*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);       /* x좌표, y좌표, 블러 */
}
#search-bar {
    font-size: var(--h2-font-size);
    background: none; /* 입력창 배경 제거 */
    border: none;     /* 입력창 테두리선 제거 */
    flex-grow: 1;     /* 나를 감싼 container 여기서는 (search-container)에 여유 공간 생기면, 나를 늘려라 */
}
#search-bar:focus {
    outline: none;    /* 입력창 눌렀을 때 테두리선 제거 */
}
.search-container > i {
    font-size: var(--h2-font-size);
    margin-top: 4px;
}

.product-container {
    margin: 0 100px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between; /* 몽쉘은 한 개가 되었을 때 왼쪽에 붙어야 하니까 */
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEDED;
    padding: 30px;
    border-radius: 40px;
    position: relative;     /* 설레임과 빠삐코 등 이름이 bottom으로 가는데(내 자손 중 position:absolute;인 아이)의 기준이 화면 전체가 아니라 내가 된다.*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);       /* x좌표, y좌표, 블러 */
}

.product-image {
    height: 200px;
    aspect-ratio: 1/1;     /* 이미지 너비(앞)/이미지 높이(뒤) 비율 */
    object-fit: contain;   /* cover: 공간에 맞게 확대, 잘림; contain: 공간에 맞게 축소, 여백 생김*/
    border-radius: 10px;
    background-color: white;    /* 둥글게 한 것이 보여지게 하는 거(원래 설레임과 빠삐코에 안 보여져 있었음) */
}

.product-name {
    background-color: #DCDCDC;
    padding: 4px 30px;
    font-size: var(--h2-font-size);
    border-radius: 19px;
    position: absolute;
    bottom: -19px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);       /* x좌표, y좌표, 블러 */
}

/* tablet */
@media screen and (max-width:976px) {
    #school-market {
        margin-top: calc(var(--nav-height) + 30px);
    }
}

@media screen and (max-width:800px) {
    .product-container {
        justify-content: center;
    }
}