#school-market {
    margin-top: calc(var(--nav-height) + 100px);
}

#school-market {
    display: flex;
    flex-direction: column; /* 축이 바뀜 column으로 */
    align-items: center;    /* 그래서 align-items 줘야 함 */
}
.search-container {
    background-color: #DCDCDC;
    padding: 10px 20px;
    display: flex; /* 왼쪽 위에 붙는 것이 기본값 */
    align-items: center; /* 축이 바뀌어서 이것도 align-items로 해야 함  */
    border-radius: 28px;
    width: 80%;
    max-width: 800px;    /* 최대 너비 지정 더 이상 커지지 마! */
    min-width: 500px;    /* 최소 너비 지정 더 이상 작아지지 마!*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);       /* x좌표, y좌표, 블러 */
}
#search-bar {
    font-size: var(--h2-font-size);
    background: none; /* 입력창 배경 제거 */
    border: none;     /* 입력창 테두리선 제거 */
    flex-grow: 1;     /* 나를 감싼 container 여기서는 (search-container)에 여유 공간 생기면, 나를 늘려라 */
}
#search-bar:focus {
    outline: none;    /* 입력창 눌렀을 때 테두리선 제거 */
}
.search-container > i {
    font-size: var(--h2-font-size);
    margin-top: 4px;
}

/* tablet */
@media screen and (max-width:976px) {
    #school-market {
        margin-top: calc(var(--nav-height) + 30px);
    }
}