#calendar {
    width: 600px;
    margin: 0 auto;
}

#calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

#prev-month,
#next-month {
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;
}

#calendar-container {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1.4px solid #555;
}

.item {
    display: grid;
    place-items: center;
}

/* 이번 달만 커서 포인터 하고 싶어. .item이면서 .other-date 가 아닌 친구한테 하고 싶어! */
.item:not(.other-date) {
    cursor: pointer;
}


.week-name {
    color: #AAA;
    font-weight: bold;
    border-bottom: 1.4px solid #555;
}

.other-date {
    color: #DDD;
}