.container {
    width: 600px;
    /* width 600px 중 / 는 100px, 나머지는 1fr로 통일 */
    height: 500px;
    /* 높이는 500px 로 조정 */
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr; /* repeat(5, 1fr); */
    /* 전부 다 1 ㄷ 1 ㄷ 1 비율로 맞춰준 것임! 슬래시, 월 ~ 금까지 6개의 1fr 을 생성 */
    /* 처음에 / 부분만 px 지정해준 것임 */
}

.item {
    border: 1px solid gray;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;              /* 글자 수평/수직 가운데로 */
    place-items: center;        /* 글자 수평/수직 가운데로 */
}

.week_name {
    background-color: hotpink;
    color: white;
}

/* 간격을 일반화한 것이 6n + 1임 이것으로 해주면 1교시 ~ 7교시까지 핑크색 */
/* 하지만 연강끼리 묶어버리면 당연히 이상해짐! 그냥 간단하게 쓰려고 변경 없을 때 6n + 1 사용 */
/* .item:nth-child(6n+1) {
    color: hotpink;
} */


.ds { /* 자료구조 */
    /* column 은 의미 없음 왜냐하면 연강은 수직으로만 이어주면 되기 때문에 */
    /* 하지만 지정을 안 해주면 이상해져서 해 줘야 한다 */
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
}

.wsm {
    grid-row-start: 7;  /* span 2 가능 row-end 는 9 */
    grid-row-end: 9;    /* span 2 가능 row-end 는 7 */
    grid-column-start: 3;
}

.java {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
}

.ca {
    /* grid-row: 7 / 9;
    grid-column-start: 4; */
    grid-area: 7 / 4 / 9 / 5;
}

.coding {
    grid-area: 4 / 5 / 6 / 6;
}

.python {
    grid-area: 6 / 5 / span 2 / 6;
}

.wsm2 {
    grid-area: 4 / 6 / span 2 / 7;
}

.choice {
    grid-area: 6 / 6 / span 2 / 7;
}

.class {
    color: hotpink;
}